---
import data from "../data/tools.yaml";

const tools = data.tools;
---

<h3>Tools required to maintain a big machine</h3>

{Object.entries(tools).map(([category, items]) => (
  <>
    <h4>{category}</h4>
    <ul>
      {items.map(item => (
        <li>{item}</li>
      ))}
    </ul>
  </>
))}
